/* This file deals with the CSS for the resume page */

h1, h3, h5, p {
  margin: 0;
}

.resume_page_main {
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
  font-family: Garamond;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "title ."
  "exp edc";
}

.resume_title {
  grid-area: title;
}

.experience {
  grid-area: exp;
  margin-top: 20px;
}

.education {
  grid-area: edc;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education_container {
  width: 200px;
}
